<a href="https://colab.research.google.com/github/kinkarhgithub/ass_py/blob/main/assignment_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Assignment 1
name = "Maharashtra"
print (name[0])
print (name[0:3])
print (name[1:4])
print (name[-4:-1])
#slicing with skip value
name = "Maharashtra"
d = name[1:4:1]
print (d)
d = name[1:4:2]
print (d)
#ex 2
name = "JohnIsGood" #1st print then skip 3rd print then skip...
d = name[0::2]
print (d)
d = name[0::3]  # 1st print next two skip 4th print next two skip....
print (d)

M
Mah
aha
htr
aha
aa
JhIGo
JnGd

In [2]:
myfile=open("file.txt","r")#assignment 4
print(myfile.read())

Hello
My name is jenny
Code for log in

In [3]:
myfile=open("file.txt","w")
myfile.write("this is python August batch")

27

In [5]:
myfile=open("file.txt","a")
myfile.write("\n this sessons are very intresting")

34

In [6]:
f=open("new.txt","a+")  #a+->first write then read  w+->same as a+
n=int(input("Enter how many strings"))
for i in range(n):
     s=input("Enter a string")
     f.write(s+ '\n')

#reading code
f.seek(0)
x=f.read()
print(x)
f.close()

Enter how many strings 2
Enter a string hey
Enter a string how are you
Hello everyone good morning
 good evening
 the session was intresting
 this is python class
 we are enjoying
hey
 how are you
  hey
  how are you
hey
 how are you
 hey
 how are you

In [7]:
f=open("new.txt","r+")  #r+ ->first read then write....
print(f.read())
f.write("fhjh")
f.close()

Hello everyone good morning
 good evening
 the session was intresting
 this is python class
 we are enjoying
hey
 how are you
  hey
  how are you
hey
 how are you
 hey
 how are you

In [ ]:
mylist=["raya",1,False,287522.458]  #assignment 2
print(mylist)
#update
mylist[2]=True
print (mylist)
#Append
mylist.insert(2,"Welcome")
print(mylist)
del mylist[0]
print(mylist)
mylist.remove("Welcome")
print(mylist)

['raya', 1, False, 287522.458]
['raya', 1, True, 287522.458]
['raya', 1, 'Welcome', True, 287522.458]
[1, 'Welcome', True, 287522.458]
[1, True, 287522.458]

In [ ]:
#tuple
mytuple=(["Seimens","Bosch",2455,"Tata"])
print(len(mytuple))
print(mytuple)
del mytuple[0]
print(mytuple)
#update
mytuple[0]="amazon"
print(mytuple)
#insert
mytuple.insert(1,"delaplex")
print(mytuple)

4
['Seimens', 'Bosch', 2455, 'Tata']
['Bosch', 2455, 'Tata']
['amazon', 2455, 'Tata']
['amazon', 'delaplex', 2455, 'Tata']

In [ ]:
#Dictionary
mydic={"Brand":["Seimens",True],"Branch":"German","product":"aircraft"}
print(mydic)

{'Brand': ['Seimens', True], 'Branch': 'German', 'product': 'aircraft'}

In [ ]:
#assignment 3     ( arithmetic  operator)
a=5 
b=6
print("The value of 5+6 is",5+6)
print("The value of 5-6 is",5-6)
print("The value of 5*6 is",5*6)
print("The value of 5/6 is",5/6)
print("The value of 5//6 is",5//6)
#assignment operator
a=34
a*=12
a-=12
a /=12
print(a)
#comparison operator
set1={"sdf","dfg",124,False,"gh"}
set2={"yui","ert","ert",True}
set3=(set2>set1)
print(set3)
#ex 2
b=(4>7)
print(b)
b=(14>7)
print(b)
b=(14==7)
b=(14!=7)
print(b)
b=(10>=6)
b=(10<=6)
print(b)
#logical operator
x=5
y=10
print(x>y and x<y)
print(x<y and y>x)
print(x>y or x<y)
print(not(x<y and x<y))
#shift operator
a=10
b=-10
print("a>>1=",a>>1)
print("b>>1=",b>>1)
a=5
b=-10
print("a<<1=",a<<1)
print("b<<1=",b<<1)

The value of 5+6 is 11
The value of 5-6 is -1
The value of 5*6 is 30
The value of 5/6 is 0.8333333333333334
The value of 5//6 is 0
33.0
False
False
True
True
False
False
True
True
False
a>>1= 5
b>>1= -5
a<<1= 10
b<<1= -20